@media(max-width:768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    /* Header part  */
    .des-menu {
        display: none;
    }

    .logo img {
        width: 70px;
    }

    .mob-menu-btn,
    .mob-shop {
        display: flex;
        align-items: center;
    }

    .mob-menu.open {
        display: block;
    }

    li {
        margin-top: 10px;
        background-color: #F5F8FF;
        padding: 4px 10px;
        border-radius: 4px;
    }

    li:hover {
        background-color: #E95A08;
        color: white;
        border-radius: 4px;
    }

    /* Hero part  */
    .hero-con {
        flex-direction: column-reverse;
        gap: 30px;
    }

    .hero-con p {
        width: 100%;
    }

    .hero-con .hero-con-02 {
        width: 100%;
    }

    /* Our Plants part  */
    .plant-con p {
        width: 92%;
    }

    .flower-box {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Flower & Plants Lover part  */
    .lov-con {
        flex-direction: column;
    }

    .lov-con .box-01 {
        display: flex;
        justify-content: center;
    }

    .badge img {
        display: none;
    }

    .lov-con .box-01,
    .lov-con .box-02 {
        width: 100%;
    }

    .lov-con .box-02 h2 {
        width: 100%;
    }

    .lov-con ul li {
        width: 98%;
    }

    /* Latest  Deals part */

    /* .deal-con p {
        width: 90%;
    } */

    /* footer part  */
    .join-con {
        padding: 150px 18px;
    }

    .search-con {
        width: 90%;
    }

    .join-con .btn {
        padding: 8px 12px;
    }

    .foot-con {
        grid-template-columns: repeat(1, 1fr);
    }

    .mob-left {
        justify-content: start;
    }
}

/* Mobile responsive part  */

@media (min-width:769px) and (max-width:950px) {
    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 30px;
    }

    .lov-con ul li {
        width: 90%;
        margin-top: 18px;
    }

    /* Flower & Plants Lover part  */

    .badge img {
        width: 140px;
        margin-top: -460px;
        margin-left: 260px;
    }
}

@media (min-width:951px) and (max-width:1030px) {
    /* Flower & Plants Lover part  */

    .badge img {
        width: 140px;
        margin-top: -490px;
        margin-left: 290px;
    }
}